* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Reddit Mono;
  color: #000;
  height: 100vh;
  width: 100vw;
  background-color: #b5c18e;
}

.container {
  display: flex;
  flex-direction: column;
  width: 470px;
  height: 350px;
}

.container .header {
  font-family: Amatic SC;
  text-align: center;
  font-size: 70px;
  color: white;
  margin-bottom: 30px;
}

.container #drum-machine {
  display: flex;
  width: 100%;
  padding: 30px;
  background-color: #eadbc8;
  background-image: url("https://www.transparenttextures.com/patterns/leather.png");
  border-radius: 10px;
  box-shadow: 6px 6px 6px 6px #888888;
}

#drum-machine #drum-pads {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(3, 60px);
  gap: 10px;
  margin-right: 50px;
}

#drum-pads .drum-pad {
  font-size: 25px;
  background-color: #ffff;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px #aaaaaa;
  cursor: pointer;
}

#drum-pads .drum-pad:hover {
  background-color: #f1f1f1;
}

.controle-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controle-panel .controle-btn,
.controle-panel .power-btn {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #ffff;
  box-shadow: 5px 5px #aaaaaa;
}

.controle-panel .controle-btn:hover,
.controle-panel .power-btn:hover {
  background-color: #f1f1f1;
}

#display {
  display: block;
  font-family: Amatic SC;
  font-size: 25px;
  text-align: center;
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  color: white;
  background-color: #c7b7a3;
  border-radius: 8px;
}

@media (max-width: 520px) {
  .container {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 100vh;
  }

  .container .header {
    font-size: 50px;
    margin-bottom: 20px;
  }
  #drum-machine {
    display: flex;
    flex-direction: column;
  }
  #drum-pads {
    margin-bottom: 40px;
  }
}
